# Raw Data
data/raw/*.csv
data/raw/*.zip
!data/raw/.gitkeep

# Processed Data
data/processed/*
!data/processed/.gitkeep

# Submissions
submissions/*.csv
!submissions/.gitkeep

# Models
models/*
!models/.gitkeep
*.pkl
*.joblib

# Experiments
experiments/*
!experiments/.gitkeep

# Caches and Virtual Environments
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
catboost_info/

# Reports
reports/figures/
